{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">¿Quien soy?</h1>
        <div class="row mt-5">
            <div class="col-md-4">
                <img src="/static/MyApp/assets/img/Perfil.jpg"  width="300px">
            </div>
            <div class="col-md-8">
                <h3>Tomas Rencz</h3>
                <p1>Hola! Soy tomas, tengo 23 años y actualmente me encuentro trabajando como Analista de Negocio de Medios de Cobro en Naranja X, una empresa de servicios financieros.</p1>
                <br>
                <br>
                <p2>La temática de la pagina web que confeccione es sobre Compra y Ventas de Accesorios del mundo Gaming, sector con el que me identifico y tengo alto grado de conocimiento</p2> 
                <br>  
                <br>    
                <p3>Gracias por pasar por mi pagina =)</p3>
                </a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}