{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<!DOCTYPE html> 
<html> 
<head> 
  <title>Ayuda</title> 
  <style> 
    header { 
      padding: 20px; 
      text-align: center; 
    } 
    h1 { 
      margin: 0; 
    } 
    main { 
      max-width: 800px; 
      margin: 0 auto; 
      padding: 20px; 
    } 
    section { 
      margin-bottom: 20px; 
    } 
    h2 { 
      font-size: 1.5em; 
      margin-bottom: 10px; 
    } 
  </style> 
</head> 
<body> 
  <header> 
    <br>
    <br>
    <br>
    <h1>Página de Ayuda</h1> 
  </header> 
  <main> 
    <section id="seccion1"> 
      <br>
      <h2>¿Cómo usar el sitio web?</h2> 
      <p>Para usar el sitio web, primero debe iniciar sesión con su nombre de usuario y contraseña. Luego, puede navegar por las diferentes secciones del sitio utilizando el menú de navegación en la parte superior de la página, donde se pueden encontrar los apartados de "Teclados", "Mouses" y "Auriculares" para conocer los productos que existen en stock, asi como tambien el apartado "Productos" donde podrá ingresar un producto si desea vender el mismo.</p> 
    </section> 
    <section id="seccion2"> 
      <br>
      <h2>¿Cómo cambiar mi contraseña?</h2> 
      <p>Para cambiar su contraseña, debe presiona el boton que se encuentra a la derecha de su nombre de usuario en el menú de navegación. En ese apartado, podrá modificar tanto los datos de su cuenta como su contraseña. Finalmente, haga clic en "Guardar" para aplicar los cambios.</p> 
    </section> 
    <section id="seccion3">
      <br> 
      <h2>¿Cómo contactar al soporte técnico?</h2> 
      <p>Para contactar al soporte técnico, haga clic en "Contacto" en el menú de navegación donde podrá enviar una consulta para que nuestro equipo de soporte pueda contactarlo en las proximas 48hs habiles. Tambien podrá encontrar nuestros datos de contacto telefonico, casilla de correo electronico, y la direccion de nuestra Casa Central, en caso de que quiera acercarse personalmente.</p> 
    </section> 
  </main> 
</body> 
</html>
<br>
<br>
<br>
<br>
<br>
<br>
      {% endblock %}