{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<!DOCTYPE html>
<html>
<head>
    <title>Contacto Respuesta</title>
    <style>
        h1 {
            width: 100%;
            margin: 5 auto;
            text-align: center;
        }
        h2 {
            width: 100%;
            margin: 5 auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Gracias por enviar tu consulta! A la brevedad te contactaremos =)</h1>
    <br>
    <br>
    <br>
    <br>
<h2>¿Queres comunicarte con nosotros?</h2>
<br>
<p style="text-align: center;">Teléfono: 011-2837-9800</p>
<br>
<p style="text-align: center;">Email: contacto@techhouse.com</p>
<br>
<p style="text-align: center;">Dirección: Florida 537 Local 379 - Planta Baja, 1005 Buenos Aires</p>
<br>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}