{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        }
</style>
    <div class="container" style="margin-top: 300px; margin-bottom: 300px;">
    <h1>Bienvenido!</h1>
    <h3>Busca tu accesorio aca:</h3>
    <form action="/MyApp/buscar/" method="GET">
        <input type="text" name="marca" id="accesorio">
        <input type="submit" value="Buscar">
    </form>
    {% if accesorio %}
    <p>Resultado de la busqueda:</p>
    <ul>
    {% for accesorio in accesorio %}
    <li> {{accesorio.accesorio.title}} {{accesorio.marca.title}} {{accesorio.modelo.title}} </li>
    {% endfor %}
    </ul>
    {% endif %}
    </div>
{% endblock %}