{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de Pass</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<br>
<br>
<br>
<body>
    <style>
          form {
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 10px;
          }
          
          button[type="submit"] {
    border: none;
    outline: none;
    height: 50px;
    background: #1021b3;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
          }

          button[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
          }
          
        </style>
    <div class="container text-center">
        <h1>Cambia tu contraseña:</h1>
        <br>
        <br>
        <br>
    </div>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div class="container text-center">
            <button type="submit" class="btn btn-primary">Cambiar</button> 
            <a href="{% url 'password_exitoso' %}" a></a>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        {% endblock %}
<body>
</html>